.vessel_condition {
  @include after_border(var(--vessel_card_border_color), 0 0 0 1.2rem);

  display: grid;
  grid-template-columns: 4ch 2ch 3ch repeat(3, 3fr);
  grid-template-areas:
    'hullCheckboxes engineRating armorRating firing_diagram_a firing_diagram_b firing_diagram_c';
  padding-left: 1.2rem;
  position: relative;
  text-align: center;

  > .hullCheckboxes,
  > .engineRating,
  > .armorRating {
    padding: 0 var(--vessel_card_padding);
    align-self: center;
  }

  > .hullCheckboxes {
    grid-area: hullCheckboxes;
    text-align: left;
  }

  > .engineRating {
    grid-area: engineRating;
  }

  > .armorRating {
    grid-area: armorRating;
  }

  > .firing_diagram {
    &._a {
      grid-area: firing_diagram_a;
    }
    &._b {
      grid-area: firing_diagram_b;
    }
    &._c {
      grid-area: firing_diagram_c;
    }
  }

  &._header {
    @include _vessel_card_header_text();

    > .hullCheckboxes {
      text-align: center;
    }
  }

  &._ready,
  &._damaged,
  &._crippled {
    height: 4.8rem;

    &::before {
      @include position(absolute, 0 auto 0 0);
      @include _vessel_card_header_text();

      content: attr(data-condition);
      text-orientation: mixed;
      writing-mode: vertical-rl;
      line-height: 1.2rem;
      z-index: 1;
    }
  }

  &._damaged {
    background-color: var(--vessel_card_gray);
  }
}
