@import 'baseline-scss';

:root {
  --font_family_sans: 'Open Sans', sans-serif;

  --vessel_card_background: #fff;
  --vessel_card_border_color: #000;
  --vessel_card_color: #000;
  --vessel_card_margin: .3rem;
  --vessel_card_padding: .2rem;

  --vessel_card_gray: #eee;
}

@media print {
  #header, #nav, #footer,
  ._print_hidden {
    display: none;
  }
}
